@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(128, 128, 128, 0.1);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 5px;
	height: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(128, 128, 128, 0.1);
	background-color: #948f8f;
}